@background-color: rgb(29, 36, 51);
@background-color-btn-add: rgb(0, 126, 254);
@color-icon-tb1: rgb(0, 204, 134);

@yellow: rgb(245, 227, 66);
@red: rgb(247, 15, 30);
@green: rgb(66, 245, 75);
@white: rgb(255, 255, 255);
@teal: teal;

.margenes(@top, @right, @bottom, @left) {
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}

.mipadding(@top, @right, @button, @left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @button;
    padding-left: @left;
}

.jumbotron {
    background-color: @background-color;
    color: white;
    text-align: center;
}

footer {
    background-color: @background-color;
    color: @white;
    .margenes(10px, 10px, 0px, 10px);
}

.card-hotel {
    display: flex;
    flex: 1 150px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #4d79fe;
    .margenes(10px, 5px, 0px, 5px);
    text-align: justify;
    text-justify: auto;
}

.btn-reserva {
    width: 100%;
}

.button-add {
    background-image: url(/node_modules/open-iconic/png/plus-2x.png);
    /* 16px x 16px */
    background-color: #007efe;
    /* make the button transparent */
    background-repeat: no-repeat;
    /* make the background image appear only once */
    background-position: 32px;
    /* equivalent to 'top left' */
    border: none;
    /* assuming we don't want any borders */
    cursor: pointer;
    /* make the cursor like hovering over an <a> element */
    height: 36px;
    /* make this the size of your image */
    padding-left: center;
    /* make text start to the right of the image */
    vertical-align: middle;
    /* align the text vertically centered */
    color: @white;
    width: 100%;
}

.card-desc {
    display: flex;
    flex: 1 150px;
    flex-direction: row;
    justify-content: space-between;
    .margenes(10px, 0px, 0px, 0px)
}

.col-footer {
    display: flex;
    flex: 1 150px;
    flex-direction: column;
    .margenes(10px, 5px, 0px, 5px);
    color: @white;
    text-align: center;
}

.footer-address-icon {
    .margenes(0px, 8px, 0px, 0px)
}

.header-tb-oferta {
    text-align: center;
    color: @teal;
}

.color-icon-tb1 {
    color: #00cc86;
}

.tab-content {
    padding: 10px;
}

.p-interlin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    /*esta es la propiedad para el interlineado*/
    color: #000;
    /*padding: 10px;*/
}

.badge-special {
    color: black;
}

.breadcrumb-item0 {
    .margenes(30px, 0px, 0px, 0px);
}