.jumbotron {
  background-color: #1d2433;
  color: white;
  text-align: center; }

footer {
  background-color: #1d2433;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  display: flex;
  flex: 1 150px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #4d79fe;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: justify;
  text-justify: auto;
  margin: 5px; }

.btn-reserva {
  width: 100%; }

.button-add {
  background-image: url(/node_modules/open-iconic/png/plus-2x.png);
  /* 16px x 16px */
  background-color: #007efe;
  /* make the button transparent */
  background-repeat: no-repeat;
  /* make the background image appear only once */
  background-position: 32px;
  /* equivalent to 'top left' */
  border: none;
  /* assuming we don't want any borders */
  cursor: pointer;
  /* make the cursor like hovering over an <a> element */
  height: 36px;
  /* make this the size of your image */
  padding-left: center;
  /* make text start to the right of the image */
  vertical-align: middle;
  /* align the text vertically centered */
  color: white;
  width: 100%; }

.card-desc {
  display: flex;
  flex: 1 150px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0px; }

.col-footer {
  display: flex;
  flex: 1 150px;
  flex-direction: column;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
  text-align: center; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 0px; }

.header-tb-oferta {
  text-align: center;
  color: teal; }

.color-icon-tb1 {
  color: #00cc86; }

.tab-content {
  padding: 10px; }

.p-interlin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 120%;
  /*esta es la propiedad para el interlineado*/
  color: #000;
  /*padding: 10px;*/ }

.badge-special {
  color: black;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 0px; }

.breadcrumb-item0 {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 0px; }
